a[href^="https://c1.scryfall.com/"] {
  text-decoration-style: dashed;
}

a[href^="https://c1.scryfall.com/"]:hover {
  color: aliceblue;
}

a[href^="https://c1.scryfall.com/"]:after {
 content: var(--link);
 scale: 50%;
 opacity: 0;
 display: block;
 position: fixed;
 top: var(--top);
 left: var(--left);
 margin-top: 10px;
 margin-left: 10px;
 z-index: 100;
 pointer-events: none;
 transition: opacity 0.15s ease-out var(--delay);
 transform-origin: top left;
}

a[href^="https://c1.scryfall.com/"]:hover::after {
 opacity: 1;
}
