a[href*="c1.scryfall.com"] {
  text-decoration-style: dashed;
}

a[href*="c1.scryfall.com"]:hover {
  color: aliceblue;
}

a[href*="c1.scryfall.com"]:after {
 content: var(--link);
 scale: 50%;
 opacity: 0;
 display: block;
 position: absolute;
 padding-top: var(--top);
 padding-left: var(--left);
 margin-top: -5px;
 margin-left: 5px;
 z-index: 100;
 pointer-events: none;
 transition: opacity 0.15s ease-out var(--delay);
 transform-origin: top left;
}

a[href*="c1.scryfall.com"]:hover::after {
 opacity: 1;
}
